body {
   /* background: linear-gradient(135deg, #2c3e50, #1a252f);*/
    background: #1a252f;
}

.gradient-custom-2 {
    background: linear-gradient(to left, #2c3e50, #1a252f);
    /* Daha koyu renk geçişi */
    font-size: large;
}

.card {
    background: linear-gradient(to left, #15749775, #60929b8a, #295250); /* Koyu renk geçişi */
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Daha belirgin gölge efekti */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-body {
    color: #e0e0e0; /* Açık gri metin rengi */
}

/* Form alanları */
.form-control {
    border-radius: 1rem;
    border: 1px solid #444;
    /* Daha koyu sınır rengi */
    background-color: #3f566b;
    /* Koyu arka plan rengi */
    color: #fff;
    /* Yazı rengi */
}

/* Form alanı etiketleri */
.form-group label {
    font-weight: bold;
    color: #ddd;
    /* Açık gri */
}

.error {
    color: #f44336; /* Hata mesajı rengi */
}

.btn-primary {
    background-color: #4e54c8;
    border-color: #4e54c8;
    transition: background-color 0.3s ease;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #3e44a0;
}

.btn-outline-secondary {
    border-color: #8f94fb;
    color: #8f94fb;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-secondary:hover {
    background-color: #8f94fb;
    color: #ffffff;
}