/* Genel arka plan */
body {
    background: linear-gradient(135deg, #2c3e50, #1a252f);
    /* Daha koyu renk geçişi */
}

/* Gradient arka plan */
.gradient-custom-2 {
    background: linear-gradient(to right, #2c3e50, #1a252f);
    /* Daha koyu renk geçişi */
    font-size: large;
}

/* Kart tasarımı */
.card {
    background: linear-gradient(to right, #157497, #60929b, #295250);
    /* Daha koyu arka plan */
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    /* Daha belirgin gölge efekti */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Kart gövdesi */
.card-body {
    color: #e0e0e0;
    /* Açık gri metin rengi */
}

/* Form alanları */
.form-control {
    border-radius: 1rem;
    border: 1px solid #444;
    /* Daha koyu sınır rengi */
    background-color: #34495e;
    /* Koyu arka plan rengi */
    color: #fff;
    /* Yazı rengi */
}

/* Form alanı etiketleri */
.form-group label {
    font-weight: bold;
    color: #ddd;
    /* Açık gri */
}

/* Butonlar */
.btn-primary:hover {
    background-color: #3e44a0;
    /* Hover efekti */
}

/* Kenarlı buton */
.btn-custom {
    background-color: #5459bd;
    /* Koyu mor renkte ana buton */
    border-color: #4e54c8;
    color: white;
    border-radius: 1rem;
    font-size: 1rem;
    /* Buton yazı boyutu */
    padding: 10px 20px;
    /* Butonun iç boşlukları */
    transition: background-color 0.3s ease;
    /* Yumuşak geçiş efekti */
}

.btn-custom:hover {
    background-color: #3e44a0;
    /* Hover efekti */
}

/* Create new butonu */
.btn-outline-danger {
    margin-left: 10px;
}

/* Sayfa başlığı ve metin */
h4 {
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
}